<section class="u-max-l"><div class="u-padding {% if pC.topPadding %}u-margin-top{% endif %}{%if pC.bottomPadding%} u-margin-bottom{% endif %}"><div id="defaultCalendar" class="monthly"></div></div></section>