| {% if pC.contactDetailsOf == 'primary' %}
| {% set contactDetailsSelected = contact.primarySchool.all() %}
| {% else %}
| {% set contactDetailsSelected = contact.secondarySchool.all() %}
| {% endif %}
section.u-max-l.js-menu-close
    .u-padding.u-margin-top.u-margin-bottom
        .row(class="{% if pC.topPadding %}u-margin-top{% endif %}{%if pC.bottomPadding%} u-margin-bottom{% endif %}")
            .col.col--1-of-3
                p.blue-text.freight-text.font-sm-medium.u-margin-remove-bottom Email:
                | {% for details in contactDetailsSelected %}
                a(href="mailto:{{details.email}}") {{details.email}}
                | {% endfor %}
                p.u-margin-top.blue-text.freight-text.font-sm-medium.u-margin-remove-bottom Phone:
                | {% for details in contactDetailsSelected %}
                a(href="tel:{{details.telephoneOne}}") {{details.telephoneOne}}
                p.u-display-inline.u-padding-left-xs /
                a(href="tel:{{details.telephoneTwo}}").u-display-inline.u-padding-left-xs {{details.telephoneTwo}}
                | {% endfor %}
                p.blue-text.u-margin-top.freight-text.font-sm-medium.u-margin-remove-bottom Address:
                | {% for details in contactDetailsSelected %}
                .p-remove-margin
                    | {{details.address}}
                | {% endfor %}
            .col.col--2-of-3

                .mobile-show
                    h2.blue-text.u-margin-top Contact Us
                form(method="post" action="" accept-charset="UTF-8").js-contact-form
                    | {{ csrfInput() }}
                    <input type="hidden" name="action" value="contact-form/send">
                    //redirects to the same wesbite but with ~arrangesuccess added. 
                    //JS query listening for this gives pop up once completed        
            
                    | {{ redirectInput( craft.request.url ~ '?arrangesuccess' ) }}
                    input(type="hidden" name="subject" value="Contact Form")
       
                    | {% for details in contactDetailsSelected %}
        
                    input(type="hidden" name="toEmail" value="{{details.email | hash}}")
                    | {% endfor %}

                    .full-width-div
                        p.blue-text.freight-text.font-sm-medium I am looking to...
                        .row.checkboxRow
                            .col.col--1-of-4
                                label.u-margin-right-s Lorem Ipsum 1
                                input(type="checkbox" name="message[RequestType][]" value="lorem ipsum 1")
                            .col.col--1-of-4
                                label.u-margin-right-s Lorem Ipsum 2
                                input(type="checkbox" name="message[RequestType][]" value="lorem ipsum 2")
                            .col.col--1-of-4
                                label.u-margin-right-s Lorem Ipsum 3
                                input(type="checkbox" name="message[RequestType][]" value="lorem ipsum 3")
                            .col.col--1-of-4
                                label.u-margin-right-s Lorem Ipsum 4
                                input(type="checkbox" name="message[RequestType][]" value="lorem ipsum 4")
                    .half-width-div-form.u-margin-top.half-wid-pad
                        label(for='contactName').blue-text.full-width-div.font-sm-medium.freight-text Name:
                        input(id= "contactName" type="text" name="message[contactName]" placeholder="Full name").full-width-div
                    .half-width-div-form.u-margin-top
                        label(for='fromEmail').full-width-div.font-sm-medium.freight-text Email:
                        input(id= "fromEmail"  type="email" name="fromEmail" placeholder="example@email.com" required).full-width-div
                    .half-width-div-form.u-margin-top.half-wid-pad
                        label(for='contactPhone').full-width-div.font-sm-medium.freight-text Telephone:
                        input(id= "contactPhone" type="number" name="message[contactPhone]" placeholder="01534 000000").full-width-div
               
                    .half-width-div-form.u-margin-top
                        label(for='contactChildsName').full-width-div.font-sm-medium.freight-text Child's Name:
                        input(id= "contactChildsName" type="text" name="message[contactChildsName]" placeholder="Enter child's name").full-width-div
                    .full-width-div.u-margin-top
                        label(for='contactAdditionalMessage').full-width-div.font-sm-medium.freight-text Write your message here:
                        textarea(id= "contactAdditionalMessage"  type="text" name="message[contactAdditionalMessage]" placeholder="" required)
                    //- .col.col--1-of-3.uk-margin-top 
                    //-     button(type="submit" ).uk-button.uk-button-default.white Send Message
                   
                        
                    .u-margin-top-s   
                        button(type="submit").button.button__primary
                            | SEND