section.u-max-xl.js-menu-close.u-relative(class="{% if pC.outerMarginTop %}u-padding-top-l{% endif %}{%if pC.outerMarginBottom%} u-padding-bottom-l{% endif %}")
    .light-grey-bg
      
        .u-padding-l.u-padding-remove-right.u-padding-remove-left.u-relative(class="{% if not pC.bottomPadding%} u-padding-remove-bottom{% endif %}")
            div(class="{% if pC.topPadding %}u-padding-top-l{% endif %} {% if pC.bottomPadding%} u-padding-bottom{% endif%}")
                .row
                    .col.col--2-of-5
                        .imageLinkTextPositioning.footerImageLinkTextPositioning.u-padding-remove-top
                            .u-padding-top
                                img(src="{{siteUrl}}build/images/cards-stripe.svg").card-stripe
                                | {% if pC.header | length %}
                                h2.blue-text.u-margin-top.u-margin-bottom {{pC.header}}
                                | {% endif %}
                                | {% if pC.subText %}
                                .font-medium.freight-text.blue-text {{pC.subText}}
                                | {% endif %}
                                .u-margin-top
                                    | {% for downloads in pC.downloads.all() %}
                                    .u-padding-top-s.u-padding-bottom-s.border-top-blue.u-relative.border-bottom-hover(class="{% if loop.last %} border-bottom-blue{% endif %}") 
                                        .u-flex.u-flex__space
                                            a(href="{{downloads.url}}" target="_blank") {{downloads.title}}
                                            a(href="{{downloads.url}}" target="_blank") Download
                                            
                                    | {% endfor %}
                    .col.col--3-of-5
                        .image-link-image.u-background(style="background-image: url('{% for asset in pC.image.all() %}{{asset.url}}{% endfor %}')")                     
                    