<script>
    var baseUrl = '{{siteUrl}}';
</script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<!--Vue JS-->
{# <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

<script src="https://cdn.jsdelivr.net/npm/tween.js@16.3.4"></script>
<script src="https://cdn.jsdelivr.net/npm/color-js@1.0.3"></script> #}

<script src="{{ siteUrl }}build/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>


{# Remove prior to going live #}
{# <script src="{{siteUrl}}build/js/bundle.min.js"></script>
<script src="{{siteUrl}}build/js/hover.min.js"></script>
<script src="{{siteUrl}}build/js/lottie.min.js"></script>

<script src="{{siteUrl}}build/js/three.min.js"></script>
<script src="{{siteUrl}}build/js/uikit.min.js"></script>
<script src="{{siteUrl}}build/js/vuex.min.js"></script> #}
<!-- for the calendar -->




<script src="{{siteUrl}}build/js/swiper.min.js"></script>
<script src="{{ siteUrl }}build/js/monthly.min.js"></script>

<script src="{{siteUrl}}build/js/michael.min.js"></script>

<script src="{{siteUrl}}build/js/main.min.js"></script>

{# <script src="{{ siteUrl }}build/js/all.min.js?v=1"></script> #}


</body>
</html>