
#js-menu-container
    nav#mobile-menu-content.st-menu.st-effect-1
        .top-area
            .close-btn.js-menu-close
                .js-menu-btn.u-abs.u-abs__center
                        .hamburgerWrapper.hamburgerWrapperMobileMenu
                            .hamburger  
            .mobile-menu-spinner
                | {% include '_includes/_spinner/_spinnerLogo2.svg' %}
        ul
            li
                a.icon.icon-data(href='{{ siteUrl }}') Home
            li
                a.icon.icon-data(href='{{ siteUrl }}primary-school') Primary School
            li
                a.icon.icon-location(href='{{ siteUrl }}secondary-school') Secondary School 
            li
                a.icon.icon-location(href='{{ siteUrl }}contact') Contact