footer.light-grey-bg
    .u-max-l.u-padding-top-l
        //.u-margin-top
        .u-padding.u-margin-bottom
            .row
                .col.col--1-of-3.u-text-right.p-remove-margin.vm
                    p.bold Secondary School - West
                    | {% if contact.secondarySchool | length %}
                    | {% for secondary in contact.secondarySchool.all() %}
                    .u-margin-top-s.u-margin-bottom-s {{secondary.address | default ('Lorem Ipsum')}}
                    a(href="tel:{{secondary.telephoneOne|replace({' ': ''})}}").u-block {{secondary.telephoneOne }}
                    a(href="tel:{{secondary.telephoneTwo|replace({' ': ''})}}").u-block.u-margin-bottom-s {{secondary.telephoneTwo }}
                    a(href="mailto:{{secondary.email}}") {{secondary.email}}
                    | {% endfor %}
                    | {% endif %}
               
                .col.col--1-of-3.footer-spinner.vm.u-text-center
                    | {% include '_includes/_spinner/_spinnerLogo2.svg' %}
            
                .col.col--1-of-3.p-remove-margin.vm 
                    p.bold Primary School - East
                    | {% if contact.primarySchool | length %}
                    | {% for primary in contact.primarySchool.all() %}
                    .u-margin-top-s.u-margin-bottom-s {{primary.address | default ('Lorem Ipsum')}}
                    a(href="tel:{{primary.telephoneOne|replace({' ': ''})}}").u-block {{primary.telephoneOne }}
                    a(href="tel:{{primary.telephoneTwo|replace({' ': ''})}}").u-block.u-margin-bottom-s {{primary.telephoneTwo }}
                    a(href="mailto:{{primary.email}}") {{primary.email}}
                    | {% endfor %}
                    | {% endif %}
    //-.heavy-bottom-border.heavy-top-border.u-max-m
        //- .u-padding.footer-link-width.u-max-xs
        
        //-     .u-flex.u-flex__space.u-padding-top-xs.u-padding-bottom-xs
        //-         a(href="{{siteUrl}}") Lorem
        //-         a(href="{{siteUrl}}") Lorem
        //-         a(href="{{siteUrl}}") Lorem
        //-         a(href="{{siteUrl}}") Lorem
        //-         a(href="{{siteUrl}}") Lorem
        //-         a(href="{{siteUrl}}") Lorem
        //-         a(href="{{siteUrl}}") Lorem
    .u-max-m.heavy-top-border
        .u-padding.u-padding-remove-left.u-padding-remove-right
            .u-flex.u-flex__space.u-flex__align-center.footer-bottom
                p {{ 'now' | date('Y') }} Mont a l’Abbe School
                .social-links
                    | {% if contact.twitter | length %}
                    a(href="{{contact.twitter}}")
                        img(src="{{siteUrl}}build/images/twitter.svg")
                    | {% endif %}
                    | {% if contact.instagram |length %}
                    a(href="{{contact.instagram}}")
                        img(src="{{siteUrl}}build/images/instagram.svg")
                    | {% endif %}
                    | {% if contact.facebook |length %}
                    a(href="{{contact.facebook}}")
                        img(src="{{siteUrl}}build/images/facebook.svg")
                    | {% endif %}
                .footer-right
                    a(href="").u-margin-right-s Lorem Ipsum
                    a(href="") Lorem Ipsum