section.u-max-xl.js-menu-close.u-relative(class="{% if pC.outerMarginTop %}u-padding-top-l{% endif %}{%if pC.outerMarginBottom%} u-padding-bottom-l{% endif %}")
    .light-grey-bg
        .dark-grey-bg-div
        .u-max-l
            .u-padding.u-relative.u-padding-top-s
                div(class="{% if pC.topPadding %}u-padding-top-l{% endif %}")
                    .row
                        .col.col--3-of-4.vm
                            | {% if pC.subHeader | length %}
                            p {{pC.subHeader}}
                            | {% endif %}
                            | {% if pC.header | length %}
                            h2.blue-text {{pC.header}} 
                            | {% endif %}
                            | {% if pC.subText%}
                            .font-medium.freight-text.blue-text.u-margin-top-s {{pC.subText}}
                            | {% endif %}
            .u-padding.u-padding-remove-top.u-padding-remove-bottom.u-relative     
                .row.u-margin-top-s.u-padding-top.u-padding-bottom.mobile-no-margin
                                                
                    .col.col--2-of-6
                        a(href="#/" id="ksone").callToAction.call-grey Primary School
                    
                    .col.col--1-of-6
                                            
                    .col.col--2-of-6
                        a(href="#/" id="kstwo").callToAction.call-grey Secondary School
                    
                    .col.col--1-of-6
           
                #slider.u-margin-top.u-margin-bottom
                    .dp-wrap
                        #dp-slider
                            | {% for class in craft.entries.section('classes').relatedTo(18316).all() %}
                            
                            .dp_item.dp_itemall(data-class='{{loop.index}}', class="{% if loop.index % 2 == 0%}hidden{%endif%}" data-position='{{loop.index}}')
                                a(href="{{class.url}}")
                                    img(src="{{siteUrl}}build/images/cards-stripe.svg").card-stripe
                                    .dp-content.u-margin-top-s
                                        | {% if loop.index <= 9 %}
                                        h2.dp-number.blue-text  0{{loop.index}}.
                                        | {% else %}
                                        h2.dp-number.blue-text  {{loop.index}}.
                                        | {% endif %}
                                        h2.blue-text {{class.title}}
                                        {% set phase = class.keystage %}
                                        {% for stage in phase %}
                                        p.s-heading {{ stage.title }}
                                        {% endfor %}
                                   
                                        | {% if class.abstract | length %}
                                        p.u-padding-top.u-padding-bottom-s.dp-paragraph {{class.abstract}}
                                        | {% endif %}
                                    a(href="{{siteUrl }}").dp-img
                                    .overlay                            
                                    {% for asset in class.headerImage %}                     
                                    .img-fluid(style="background-image:url({{ asset.url }})", alt='{{ asset.title }}')    
                                    {% endfor %}  
                            | {% endfor %}                         
                span#dp-next
                    svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 51.401 51.401')
                        defs
                        style.
                            .cls-1 {
                            fill: none;
                            stroke: #134a62;
                            stroke-miterlimit: 10;
                            stroke-width: 7px;
                            }
                        path#Rectangle_4_Copy.cls-1(data-name='Rectangle 4 Copy', d='M32.246,0V33.178L0,31.953', transform='translate(0.094 25.276) rotate(-45)')
                span#dp-prev
                    svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 51.401 51.401')
                        defs
                        style.
                            .cls-1 {
                            fill: none;
                            stroke: #134a62;
                            stroke-miterlimit: 10;
                            stroke-width: 7px;
                            }
                        path#Rectangle_4_Copy.cls-1(data-name='Rectangle 4 Copy', d='M32.246,0V33.178L0,31.953', transform='translate(0.094 25.276) rotate(-45)')
                //Keystage One
                #sliderksone.u-margin-top.u-margin-bottom
                    .dp-wrap
                        #dp-sliderksone
                            | {% for class in craft.entries.section('classes').relatedTo(18316).all() %}
                            
                            .dp_item.dp_itemksone(data-class='{{loop.index}}', class="{% if loop.index % 2 == 0%}hidden{%endif%}" data-position='{{loop.index}}')
                                a(href="{{class.url}}")
                                    img(src="{{siteUrl}}build/images/cards-stripe.svg").card-stripe
                                    .dp-content.u-margin-top-s
                                        | {% if loop.index <= 9 %}
                                        h2.dp-number.blue-text  0{{loop.index}}.
                                        | {% else %}
                                        h2.dp-number.blue-text  {{loop.index}}.
                                        | {% endif %}
                                        h2.blue-text {{class.title}}
                                        {% set phase = class.keystage %}
                                        {% for stage in phase %}
                                        p.s-heading {{ stage.title }}
                                        {% endfor %}
                                        | {% if class.abstract | length %}
                                        p.u-padding-top.u-padding-bottom-s.dp-paragraph {{class.abstract}}
                                        | {% endif %}
                                    a(href="{{siteUrl }}").dp-img
                                    .overlay       
                                    {% for asset in class.headerImage %}                     
                                    .img-fluid(style="background-image:url({{ asset.url }})", alt='investing')    
                                    {% endfor %}                    
                            | {% endfor %}                         
                span#dp-nextksone
                    svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 51.401 51.401')
                        defs
                        style.
                            .cls-1 {
                            fill: none;
                            stroke: #134a62;
                            stroke-miterlimit: 10;
                            stroke-width: 7px;
                            }
                        path#Rectangle_4_Copy.cls-1(data-name='Rectangle 4 Copy', d='M32.246,0V33.178L0,31.953', transform='translate(0.094 25.276) rotate(-45)')
                span#dp-prevksone
                    svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 51.401 51.401')
                        defs
                        style.
                            .cls-1 {
                            fill: none;
                            stroke: #134a62;
                            stroke-miterlimit: 10;
                            stroke-width: 7px;
                            }
                        path#Rectangle_4_Copy.cls-1(data-name='Rectangle 4 Copy', d='M32.246,0V33.178L0,31.953', transform='translate(0.094 25.276) rotate(-45)')

                //Keystage two
                #sliderkstwo.u-margin-top.u-margin-bottom
                    .dp-wrap
                        #dp-sliderkstwo
                            | {% for class in craft.entries.section('classes').relatedTo(18318).all() %}
                            
                            .dp_item.dp_itemkstwo(data-class='{{loop.index}}', class="{% if loop.index % 2 == 0%}hidden{%endif%}" data-position='{{loop.index}}')
                                a(href="{{class.url}}")
                                    img(src="{{siteUrl}}build/images/cards-stripe.svg").card-stripe
                                    .dp-content.u-margin-top-s
                                        | {% if loop.index <= 9 %}
                                        h2.dp-number.blue-text  0{{loop.index}}.
                                        | {% else %}
                                        h2.dp-number.blue-text  {{loop.index}}.
                                        | {% endif %}
                                        h2.blue-text {{class.title}}
                                        {% set phase = class.keystage %}
                                        {% for stage in phase %}
                                        p.s-heading {{ stage.title }}
                                        {% endfor %}
                                        | {% if class.abstract | length %}
                                        p.u-padding-top.u-padding-bottom-s.dp-paragraph {{class.abstract}}
                                        | {% endif %}
                                    a(href="{{siteUrl }}").dp-img
                                    .overlay                            
                                    {% for asset in class.headerImage %}                     
                                    .img-fluid(style="background-image:url({{ asset.url }})", alt='investing')    
                                    {% endfor %} 
                            | {% endfor %}                         
                span#dp-nextkstwo
                    svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 51.401 51.401')
                        defs
                        style.
                            .cls-1 {
                            fill: none;
                            stroke: #134a62;
                            stroke-miterlimit: 10;
                            stroke-width: 7px;
                            }
                        path#Rectangle_4_Copy.cls-1(data-name='Rectangle 4 Copy', d='M32.246,0V33.178L0,31.953', transform='translate(0.094 25.276) rotate(-45)')
                span#dp-prevkstwo
                    svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 51.401 51.401')
                        defs
                        style.
                            .cls-1 {
                            fill: none;
                            stroke: #134a62;
                            stroke-miterlimit: 10;
                            stroke-width: 7px;
                            }
                        path#Rectangle_4_Copy.cls-1(data-name='Rectangle 4 Copy', d='M32.246,0V33.178L0,31.953', transform='translate(0.094 25.276) rotate(-45)')

                
                    