<section class="u-max-xl js-menu-close u-relative {% if pC.outerMarginTop %}u-padding-top-l{% endif %}{%if pC.outerMarginBottom%} u-padding-bottom-l{% endif %}"><div class="light-grey-bg"><div class="dark-grey-bg-div"></div><div class="u-max-l"><div class="u-padding u-relative u-padding-top-s"><div class="{% if pC.topPadding %}u-padding-top-l{% endif %}"><div class="row"><div class="col col--3-of-4 vm">{% if pC.subHeader | length %}<p>{{pC.subHeader}}</p>{% endif %}
{% if pC.header | length %}<h2 class="blue-text">{{pC.header}} </h2>{% endif %}
{% if pC.subText%}<div class="font-medium freight-text blue-text u-margin-top-s">{{pC.subText}}</div>{% endif %}</div></div></div></div><div class="u-padding u-padding-remove-top u-padding-remove-bottom u-relative">    <div class="row u-margin-top-s u-padding-top u-padding-bottom mobile-no-margin"><div class="col col--2-of-6"><a href="#/" id="ksone" class="callToAction call-grey">Primary School</a></div><div class="col col--1-of-6"></div><div class="col col--2-of-6"><a href="#/" id="kstwo" class="callToAction call-grey">Secondary School</a></div><div class="col col--1-of-6"></div></div><div id="slider" class="u-margin-top u-margin-bottom"><div class="dp-wrap"><div id="dp-slider">{% for class in craft.entries.section('classes').relatedTo(18316).all() %}<div data-class="{{loop.index}}" data-position="{{loop.index}}" class="dp_item dp_itemall {% if loop.index % 2 == 0%}hidden{%endif%}"><a href="{{class.url}}"><img src="{{siteUrl}}build/images/cards-stripe.svg" class="card-stripe"/><div class="dp-content u-margin-top-s">{% if loop.index <= 9 %}<h2 class="dp-number blue-text"> 0{{loop.index}}.</h2>{% else %}<h2 class="dp-number blue-text"> {{loop.index}}.</h2>{% endif %}<h2 class="blue-text">{{class.title}}</h2>{% set phase = class.keystage %}
{% for stage in phase %}<p class="s-heading">{{ stage.title }}</p>{% endfor %}
{% if class.abstract | length %}<p class="u-padding-top u-padding-bottom-s dp-paragraph">{{class.abstract}}</p>{% endif %}</div><a href="{{siteUrl }}" class="dp-img"></a><div class="overlay">                           </div>{% for asset in class.headerImage %}                     <div style="background-image:url({{ asset.url }})" alt="{{ asset.title }}" class="img-fluid">   </div>{% endfor %}  </a></div>{% endfor %}                         </div></div></div><span id="dp-next"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 51.401 51.401"><defs></defs><style>.cls-1 {
fill: none;
stroke: #134a62;
stroke-miterlimit: 10;
stroke-width: 7px;
}</style><path id="Rectangle_4_Copy" data-name="Rectangle 4 Copy" d="M32.246,0V33.178L0,31.953" transform="translate(0.094 25.276) rotate(-45)" class="cls-1"></path></svg></span><span id="dp-prev"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 51.401 51.401"><defs></defs><style>.cls-1 {
fill: none;
stroke: #134a62;
stroke-miterlimit: 10;
stroke-width: 7px;
}</style><path id="Rectangle_4_Copy" data-name="Rectangle 4 Copy" d="M32.246,0V33.178L0,31.953" transform="translate(0.094 25.276) rotate(-45)" class="cls-1"></path></svg></span><!--Keystage One--><div id="sliderksone" class="u-margin-top u-margin-bottom"><div class="dp-wrap"><div id="dp-sliderksone">{% for class in craft.entries.section('classes').relatedTo(18316).all() %}<div data-class="{{loop.index}}" data-position="{{loop.index}}" class="dp_item dp_itemksone {% if loop.index % 2 == 0%}hidden{%endif%}"><a href="{{class.url}}"><img src="{{siteUrl}}build/images/cards-stripe.svg" class="card-stripe"/><div class="dp-content u-margin-top-s">{% if loop.index <= 9 %}<h2 class="dp-number blue-text"> 0{{loop.index}}.</h2>{% else %}<h2 class="dp-number blue-text"> {{loop.index}}.</h2>{% endif %}<h2 class="blue-text">{{class.title}}</h2>{% set phase = class.keystage %}
{% for stage in phase %}<p class="s-heading">{{ stage.title }}</p>{% endfor %}
{% if class.abstract | length %}<p class="u-padding-top u-padding-bottom-s dp-paragraph">{{class.abstract}}</p>{% endif %}</div><a href="{{siteUrl }}" class="dp-img"></a><div class="overlay">      </div>{% for asset in class.headerImage %}                     <div style="background-image:url({{ asset.url }})" alt="investing" class="img-fluid">   </div>{% endfor %}                    </a></div>{% endfor %}                         </div></div></div><span id="dp-nextksone"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 51.401 51.401"><defs></defs><style>.cls-1 {
fill: none;
stroke: #134a62;
stroke-miterlimit: 10;
stroke-width: 7px;
}</style><path id="Rectangle_4_Copy" data-name="Rectangle 4 Copy" d="M32.246,0V33.178L0,31.953" transform="translate(0.094 25.276) rotate(-45)" class="cls-1"></path></svg></span><span id="dp-prevksone"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 51.401 51.401"><defs></defs><style>.cls-1 {
fill: none;
stroke: #134a62;
stroke-miterlimit: 10;
stroke-width: 7px;
}</style><path id="Rectangle_4_Copy" data-name="Rectangle 4 Copy" d="M32.246,0V33.178L0,31.953" transform="translate(0.094 25.276) rotate(-45)" class="cls-1"></path></svg></span><!--Keystage two--><div id="sliderkstwo" class="u-margin-top u-margin-bottom"><div class="dp-wrap"><div id="dp-sliderkstwo">{% for class in craft.entries.section('classes').relatedTo(18318).all() %}<div data-class="{{loop.index}}" data-position="{{loop.index}}" class="dp_item dp_itemkstwo {% if loop.index % 2 == 0%}hidden{%endif%}"><a href="{{class.url}}"><img src="{{siteUrl}}build/images/cards-stripe.svg" class="card-stripe"/><div class="dp-content u-margin-top-s">{% if loop.index <= 9 %}<h2 class="dp-number blue-text"> 0{{loop.index}}.</h2>{% else %}<h2 class="dp-number blue-text"> {{loop.index}}.</h2>{% endif %}<h2 class="blue-text">{{class.title}}</h2>{% set phase = class.keystage %}
{% for stage in phase %}<p class="s-heading">{{ stage.title }}</p>{% endfor %}
{% if class.abstract | length %}<p class="u-padding-top u-padding-bottom-s dp-paragraph">{{class.abstract}}</p>{% endif %}</div><a href="{{siteUrl }}" class="dp-img"></a><div class="overlay">                           </div>{% for asset in class.headerImage %}                     <div style="background-image:url({{ asset.url }})" alt="investing" class="img-fluid">   </div>{% endfor %} </a></div>{% endfor %}                         </div></div></div><span id="dp-nextkstwo"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 51.401 51.401"><defs></defs><style>.cls-1 {
fill: none;
stroke: #134a62;
stroke-miterlimit: 10;
stroke-width: 7px;
}</style><path id="Rectangle_4_Copy" data-name="Rectangle 4 Copy" d="M32.246,0V33.178L0,31.953" transform="translate(0.094 25.276) rotate(-45)" class="cls-1"></path></svg></span><span id="dp-prevkstwo"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 51.401 51.401"><defs></defs><style>.cls-1 {
fill: none;
stroke: #134a62;
stroke-miterlimit: 10;
stroke-width: 7px;
}</style><path id="Rectangle_4_Copy" data-name="Rectangle 4 Copy" d="M32.246,0V33.178L0,31.953" transform="translate(0.094 25.276) rotate(-45)" class="cls-1"></path></svg></span></div></div></div></section>