/** Includes **/

@import "utilities/sassincludes/uikit/src/scss/variables-theme.scss";
@import "utilities/sassincludes/uikit/src/scss/uikit-theme.scss";
@import 'utilities/sassincludes/toast.scss';
@import 'utilities/sassincludes/jquery-ui.min.scss';
@import 'utilities/sassincludes/jquery-ui.structure.min.scss';
@import 'utilities/sassincludes/jquery-ui.theme.min.scss';


/** Utilities **/

@import 'utilities/_mixins.scss';
@import 'utilities/_variables.scss';
 
/** Base **/
@import 'base/_base.scss';

/** Components **/
@import 'components/_button.scss';
@import 'components/_calendar.scss';
@import 'components/_contact.scss';
@import 'components/_form.scss';
@import 'components/_footer.scss';
@import 'components/_gallery.scss';
@import 'components/_header.scss';
@import 'components/_images.scss';
@import 'components/_image-link.scss';
@import 'components/_learn-achieve-motivate.scss';
@import 'components/_michael.scss';
@import 'components/_mobile-menu.scss';
@import 'components/_nav.scss';
@import 'components/_show-projects.scss';
@import 'components/_spinner.scss';
@import 'components/_two-col-text.scss';




/** Shame **/

@import 'base/_shame.scss';


.relative{
    width: 100%;
    height: 100%;
    position: relative;
}