/** Variables examples are font-face, fonts, breakpoints, colors used across
all pages through inclusion in different files. Effectively, $variables & 
arrays of break points. **/

@font-face {
    font-family: 'formular';
    src: url('../fonts/formular-regular.woff2') format('woff2'),
         url('../fonts/formular-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/** Variables **/
$mouse: #3C3C3C;
$black: #3C3C3C;
$white: #ffffff;
$grey: #4d4d4d;
$light-grey: #969696;
$lighter-grey: #e9e9e9;
$yellow: #ecf700;
$dyellow: #727d33;
$green: #81fbcf;
$dgreen:#668374;
$pink: #fa056f;
$dpink: #7e1537;


$swiper-height: 500px;

// Font sizes
$font-small: 14px;
$font-sm-med: 15px;
$font-medium: 16px;
$font-large: 17px;
$font-xlarge: 40px;



// Letter spacing
$letter-space-small: 0em;
$letter-space-med: 0.25em;

// Line Height:
$lg-line-height: 25px;

// Media Widths
$full-screen: 1800px;
$semi-full-screen: 1500px;
$desktop-large: 1300px;
$desktop: 1150px;
$mobile-break: 850px;
$mobile-actual-break: 700px;
$mobile: 450px;


