<section class="js-menu-close {% if pC.maxWidth == 'large' %}u-max-l{% elseif pC.maxWidth == 'xlarge' %}u-max-xl{%endif%}"><div class="{% if pC.topPadding %}u-margin-top-l{% endif %}{%if pC.bottomPadding%} u-margin-bottom-l{% endif %}{% if pC.maxWidth == 'large'%} u-padding u-padding-remove-top{%endif%}">{% set lessThanThree = false%}
{% if pC.images | length < 3%}
{% set lessThanThree = true%}
{% endif %}<div class="u-flex u-flex-flow border-top {% if lessThanThree%}reduced-border-top{% endif%}">{% if not lessThanThree%}<div class="left-gallery">{% for asset in pC.images.all()| slice(0, 2) %}<div style="background-image: url('{{asset.url}}')" class="image-cont u-background"></div>{% endfor %}</div><div class="right-gallery">{% for asset in pC.images.all()| slice(2, 3) %}<div style="background-image: url('{{asset.url}}')" class="image-cont-full u-background"></div>{% endfor%}</div>{% else %}
{% for asset in pC.images.all() %}
{% if loop.index % 2 == 1 %}<div class="left-gallery half-gallery"><div style="background-image: url('{{asset.url}}')" class="image-cont u-background"></div></div>{% else %}<div class="right-gallery half-gallery"><div style="background-image: url('{{asset.url}}')" class="image-cont-full u-background"></div></div>{% endif %}
{% endfor %}
{% endif %}</div></div></section>