section.header-text(class="{% if pC.maxWidth == 'extraLarge'%} u-max-xl{% elseif pC.maxWidth == 'large'%} u-max-l{%endif%}")
    .u-padding(class="{% if not pC.topPadding %} u-padding-remove-top{% endif %}{% if not pC.bottomPadding%} u-padding-remove-bottom{% endif %}{% if pC.topMarginLarge%} u-margin-top-l {% endif%}{% if pC.bottomMarginLarge%} u-margin-bottom-l{%endif%}")
        h2.blue-text.u-margin-remove-bottom {{pC.header}}