section.u-max-xl.js-menu-close(class="{% if pC.topPadding %}u-padding-top{% endif %}{%if pC.bottomPadding%} u-padding-bottom{% endif %}{% if pC.extraTopMargin%} u-margin-top-l{% endif %}{% if pC.extraBottomMargin%} u-margin-bottom-l{% endif %}")
        .learn-achieve-img-cont#js-learn-achieve
        .learn-achieve-img-cont-mobile