section.u-max-l.js-menu-close
    .u-padding.u-margin-top.u-margin-bottom
        .row(class="{% if pC.topPadding %}u-margin-top{% endif %}{%if pC.bottomPadding%} u-margin-bottom{% endif %}")
            .col.col--4-of-6.vm
                | {% if pC.subHeader | length %}
                p {{pC.subHeader}}
                | {% endif %}
                | {% if pC.header | length %}
                h2.blue-text {{pC.header}}
                | {% endif %}
                | {% if pC.subText%}
                .font-medium.freight-text.blue-text.u-margin-top-s {{pC.subText}}
                | {% endif %}
                .u-margin-top
                   | {% if pC.text | length %}
                   | {{pC.text}}
                   | {% endif %}
            .col.col--2-of-6.vm.u-text-center.u-mobile-left
                
                | {% include '_includes/_spinner/_spinnerLogo2.svg' %}

