section.u-max-l
    .u-padding(class="{% if pC.topPadding %}u-margin-top-l{% endif %}{%if pC.bottomPadding%} u-margin-bottom-l{% endif %}")
        .row
            .col.col--2-of-3.vm
                | {% if pC.subHeader | length %}
                p.u-margin-remove-bottom.u-padding-bottom-s {{pC.subHeader}}
                | {% endif %}
                | {% if pC.text | length %}
                .blue-text.font-large.freight-text {{pC.text}}
                | {% endif %}
                 
                .u-margin-top
                    .row
                        .col.col--1-of-2
                            | {% if pC.leftColumn | length %}
                            | {% for leftColumnContent in pC.leftColumn.all()  %}
                            | {% if leftColumnContent.header | length %}
                            p.freight-text.blue-text.font-sm-medium.two-col-line {{leftColumnContent.header}}
                            | {% endif %}
                            | {% if leftColumnContent.text | length %}
                            p.two-col-paragraph {{leftColumnContent.text}}
                            | {% endif %}
                            | {% endfor %}                                                       
                            | {% endif %}
                        .col.col--1-of-2
                            | {% if pC.rightColumn | length %}
                            | {% for rightColumnContent in pC.rightColumn.all() %}
                            | {% if rightColumnContent.header | length %}
                            p.freight-text.blue-text.font-sm-medium.two-col-line {{rightColumnContent.header}}
                            | {% endif %}
                            | {% if rightColumnContent.text | length %}
                            p.two-col-paragraph {{rightColumnContent.text}}
                            | {% endif %}
                            | {% endfor %}   
                            | {% endif %}
            .col.col--1-of-3.vm.u-text-center
                | {% include '_includes/_spinner/_spinnerLogo2.svg' %}

