<section class="u-max-l"><div class="u-padding {% if pC.topPadding %}u-margin-top-l{% endif %}{%if pC.bottomPadding%} u-margin-bottom-l{% endif %}"><div class="row"><div class="col col--2-of-3 vm">{% if pC.subHeader | length %}<p class="u-margin-remove-bottom u-padding-bottom-s">{{pC.subHeader}}</p>{% endif %}
{% if pC.text | length %}<div class="blue-text font-large freight-text">{{pC.text}}</div>{% endif %}<div class="u-margin-top"><div class="row"><div class="col col--1-of-2">{% if pC.leftColumn | length %}
{% for leftColumnContent in pC.leftColumn.all()  %}
{% if leftColumnContent.header | length %}<p class="freight-text blue-text font-sm-medium two-col-line">{{leftColumnContent.header}}</p>{% endif %}
{% if leftColumnContent.text | length %}<p class="two-col-paragraph">{{leftColumnContent.text}}</p>{% endif %}
{% endfor %}                                                       
{% endif %}</div><div class="col col--1-of-2">{% if pC.rightColumn | length %}
{% for rightColumnContent in pC.rightColumn.all() %}
{% if rightColumnContent.header | length %}<p class="freight-text blue-text font-sm-medium two-col-line">{{rightColumnContent.header}}</p>{% endif %}
{% if rightColumnContent.text | length %}<p class="two-col-paragraph">{{rightColumnContent.text}}</p>{% endif %}
{% endfor %}   
{% endif %}</div></div></div></div><div class="col col--1-of-3 vm u-text-center">{% include '_includes/_spinner/_spinnerLogo2.svg' %}</div></div></div></section>