| {% set columnCount = 0%}
| {% if pC.firstColumn | length %}
| {% set columnCount = columnCount + 1%}
| {% endif %}
| {% if pC.secondColumn | length %}
| {% set columnCount = columnCount + 1%}
| {% endif %}
| {% if pC.thirdColumn | length %}
| {% set columnCount = columnCount + 1%}
| {% endif %}
section.u-max-l.js-menu-close
    .u-padding.u-padding-top-l.u-padding-bottom-l
        div(class="{% if pC.topPadding %}u-margin-top-l{% endif %}{%if pC.bottomPadding%} u-margin-bottom-l{% endif %}")
            
            | {% if pC.subHeader | length %}
            p {{pC.subHeader}}
            | {% endif %}
            | {% if pC.header | length %}
            h2.blue-text {{pC.header}}
            | {% endif %}
            | {% if pC.subText%}
            .font-medium.freight-text.blue-text.u-margin-top-s {{pC.subText}}
            | {% endif %}
            .u-margin-top
                .row.u-padding-top-xs
                    .col(class="col--1-of-{{columnCount}}")
                        | {% if pC.firstColumn | length %}
                        | {% for firstColumnContent in pC.firstColumn.all()  %}
                        | {% if firstColumnContent.header | length %}
                        p.freight-text.blue-text.font-sm-medium.two-col-line {{firstColumnContent.header}}
                        | {% endif %}
                        | {% if firstColumnContent.text | length %}
                        p.two-col-paragraph {{firstColumnContent.text}}
                        | {% endif %}
                        | {% endfor %}                                                       
                        | {% endif %}
                    .col(class="col--1-of-{{columnCount}}")
                        | {% if pC.secondColumn | length %}
                        | {% for secondColumnContent in pC.secondColumn.all() %}
                        | {% if secondColumnContent.header | length %}
                        p.freight-text.blue-text.font-sm-medium.two-col-line {{secondColumnContent.header}}
                        | {% endif %}
                        | {% if secondColumnContent.text | length %}
                        p.two-col-paragraph {{secondColumnContent.text}}
                        | {% endif %}
                        | {% endfor %}   
                        | {% endif %}
                    .col(class="col--1-of-{{columnCount}}")
                        | {% if pC.thirdColumn | length %}
                        | {% for thirdColumnContent in pC.thirdColumn.all() %}
                        | {% if thirdColumnContent.header | length %}
                        p.freight-text.blue-text.font-sm-medium.two-col-line {{thirdColumnContent.header}}
                        | {% endif %}
                        | {% if thirdColumnContent.text | length %}
                        p.two-col-paragraph {{thirdColumnContent.text}}
                        | {% endif %}
                        | {% endfor %}   
                        | {% endif %}