{% extends '_layout' %}
{% block content %}
{% if category.headerImage | length %}
{% include '_includes/_category-header.html'%}
{% endif %}
{% if category.defaultMatrix | length %}
{% for pC in category.defaultMatrix.all() %}
{% if pC.type == 'oneColText' %}
{% include '_includes/_text/_one-col-text.html'%}
{% endif %}
{% if pC.type == 'showClasses' %}<section class="u-max-xl js-menu-close u-relative {% if pC.outerMarginTop %}u-padding-top-l{% endif %}{%if pC.outerMarginBottom%} u-padding-bottom-l{% endif %}"><div class="light-grey-bg"><div class="u-max-l"><div class="u-padding u-relative u-padding-top-s"><div class="{% if pC.topPadding %}u-padding-top-l{% endif %}"><div class="row"><div class="col col--3-of-4 vm">{% if pC.subHeader | length %}<p>{{pC.subHeader}}</p>{% endif %}
{% if pC.header | length %}<h2 class="blue-text">{{pC.header}} </h2>{% endif %}
{% if pC.subText%}<div class="font-medium freight-text blue-text u-margin-top-s">{{pC.subText}}</div>{% endif %}</div></div></div></div><div class="u-padding u-relative"><div class="row">{% for class in craft.entries.section('classes').relatedTo(category).all() %}<div class="col col--1-of-3"><div class="single-class"><a href="{{ class.url }}">{% for asset in class.headerImage %}                     <div style="background-image:url({{ asset.url }})" alt="{{ asset.title }}" class="img-fluid">   </div><img src="{{ siteUrl }}build/images/cards-stripe.svg" alt="Cards Stripe"/><div class="single-class-desc"><h3>{{ class.title }}</h3></div>{% endfor %}  </a></div></div>{% endfor %}</div></div></div></div></section>{% endif %}
{% endfor %}
{% endif %}
{% endblock %}