/** Variables examples are font-face, fonts, breakpoints, colors used across
all pages through inclusion in different files. Effectively, $variables & 
arrays of break points. **/
@font-face {
    font-family: 'Freight';
    src: url('../fonts/FreightDispProBook-Regular.woff2') format('woff2'),
        url('../fonts/FreightDispProBook-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GilroyExtra';
    src: url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'),
        url('../fonts/Gilroy-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Light.woff2') format('woff2'),
        url('../fonts/Gilroy-Light.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-bold';
    src: url('../fonts/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


/** Variables **/
$mouse: #3C3C3C;
$black: #3c3c3b;
$blue: #134a62;
$grey: #9d9d9c;
$light-blue: #2a84ae;
$lightest-blue: #35a8e0;
$light-grey: #ededed;
$white: #ffffff;

$maxWidth: 1200px;
$small-line-height: 20px;
$lineHeight: 30px;
$lg-line-height: 47px;

// Font sizes
$font-small: 14px;
$font-sm-med: 18px;
$font-medium: 24px;
$font-medium-large: 28px;
$font-large: 38px;
$font-xlarge: 55px;



// Letter spacing
$letter-space-small: 0em;
$letter-space-med: 0.25em;



// Media Widths
$full-screen: 1800px;
$semi-full-screen: 1500px;
$desktop-large: 1300px;
$desktop: 1150px;
$mobile-break: 850px;
$mobile-actual-break: 700px;
$mobile: 450px;



.font-small-include {
    font-size: $font-small;
    line-height: $small-line-height;
    @include mobile-break {
        font-size: $font-small * 0.9;
        line-height: $small-line-height * 0.9;
    }
    @include mobile {
        font-size: $font-small * 0.9;
        line-height: $small-line-height * 0.9;
    }
}


.font-sm-med-include {
    font-size: $font-sm-med;
    line-height: $small-line-height;
    @include mobile-break {
        font-size: $font-sm-med * 0.9;
        line-height: $small-line-height * 0.9;
    }
    @include mobile {
        font-size: $font-sm-med * 0.8;
        line-height: $small-line-height * 0.8;
    }
}

.font-medium-include {
    font-size: $font-medium;
    line-height: $lineHeight;
    @include mobile-break {
        font-size: $font-medium * 0.9;
        line-height: $lineHeight * 0.9;
    }
    @include mobile {
        font-size: $font-medium * 0.8;
        line-height: $lineHeight * 0.8;
    }
}
.font-medium-large-include{

    font-size: $font-medium-large;
    line-height: $lg-line-height;
    @include mobile-break {
        font-size: $font-medium-large * 0.9;
        line-height: $lg-line-height * 0.9;
    }
    @include mobile {
        font-size: $font-medium-large * 0.8;
        line-height: $lg-line-height * 0.8;
    }
}
.font-large-include {
    font-size: $font-large;
    line-height: $lg-line-height;
    @include mobile-break {
        font-size: $font-large * 0.9;
        line-height: $lg-line-height * 0.9;
    }
    @include mobile {
        font-size: $font-large * 0.8;
        line-height: $lg-line-height * 0.8;
    }
}

.font-xlarge-include {
    font-size: $font-xlarge;
    line-height: $lg-line-height;
    @include mobile-break {
        font-size: $font-xlarge * 0.9;
        line-height: $lg-line-height * 0.9;
    }
    @include mobile {
        font-size: $font-xlarge * 0.8;
        line-height: $lg-line-height * 0.8;
    }
}

