{% if page is not defined %}
    {% set page = "month" %}
{% endif %}

<div class="navbar navbar-expand-lg navbar-dark bg-dark mb-3" role="navigation">
    <div class="container">
        <a class="navbar-brand" href="{{ siteUrl }}calendar-demo/month">
            <img src="{{ siteUrl }}assets/calendar-demo/images/icon.svg"
                 alt="Calendar Demo"
                 width="34"
                 height="34"
            >
        </a>

        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {{ page == "month" ? "active" }}">
                    <a class="nav-link" href="{{ siteUrl }}calendar-demo/month">Month</a>
                </li>
                <li class="nav-item {{ page == "week" ? "active" }}">
                    <a class="nav-link" href="{{ siteUrl }}calendar-demo/week">Week</a>
                </li>
                <li class="nav-item {{ page == "day" ? "active" }}">
                    <a class="nav-link" href="{{ siteUrl }}calendar-demo/day">Day</a>
                </li>
                <li class="nav-item {{ page == "events" ? "active" }}">
                    <a class="nav-link" href="{{ siteUrl }}calendar-demo/events">Events List</a>
                </li>
                <li class="nav-item {{ page == "calendars" ? "active" }}">
                    <a class="nav-link" href="{{ siteUrl }}calendar-demo/calendars">Calendars</a>
                </li>
                <li class="nav-item {{ page == "fullcalendar" ? "active" }}">
                    <a class="nav-link" href="{{ siteUrl }}calendar-demo/fullcalendar">Full Calendar</a>
                </li>
                <li class="nav-item {{ page == "edit" ? "active" }}">
                    <a class="nav-link" href="{{ siteUrl }}calendar-demo/edit/event/new">Create</a>
                </li>
            </ul>


            <div class="navbar-nav dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Resources
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="https://docs.solspace.com/craft/calendar/v2/">Calendar</a>
                    <a class="dropdown-item" href="https://docs.solspace.com/craft/calendar/v2/">Documentation</a>
                    <a class="dropdown-item" href="https://docs.solspace.com/craft/calendar/v2/support.html">Support</a>
                </div>
            </div>
        </div>
    </div>
</div>
