.button{
    margin: 0;
    border: none;
    overflow: visible;
    background-color: transparent;
    color: $blue;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px 80px;
    vertical-align: middle;
    line-height: $lineHeight;
    border: 1px solid $blue;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: .1s ease-in-out;
    transition-property: color,background-color,border-color;
    @include mobile-break{
        padding: 20px 65px;
    }
}

.button__large{
    padding: 0 50px;
}

.button__primary{
    &:hover{
        background:$blue;
        color: $white;
    }
}
.button__secondary{
    background: $white;
    color: $black;
    &:hover{

    }
}

