
/* calendar */

#defaultCalendar, .hover-shadow {
	// border:1px solid #E6E6E6;
	.monthly-day {
		position: relative;
		z-index: 0;
		@extend .hover-shadow;
		cursor: pointer;
        box-shadow: none;
        // border: 1px solid #E6E6E6;
		&:hover {
			z-index: 2;
			background-color: #F2F5FA;
			-webkit-transform: scale(1.1);
			        transform: scale(1.1);
		}
	}
	.monthly-day-wrap {
		overflow: visible;
    }

}
#defaultCalendar{
    border: 1px solid $blue;
    border-radius: 25px;
    @include mobile{
      border-top: 0;
    }
}

.hover-shadow {
	@include fade(all, 0.2s);
	position: relative;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-transform: translateZ(0);
	        transform: translateZ(0);
	&:after {
		@include fade(all, 0.2s);
		position: absolute;
		content: '';
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		-webkit-box-shadow: 0px 22px 50px -4px rgba(0,0,0,0.54);
		box-shadow: 0px 22px 50px -4px rgba(0,0,0,0.54);
		opacity: 0;
		-webkit-transform: translateZ(0);
		        transform: translateZ(0);
	}
	&:hover:after {
		-webkit-transform: translateZ(0);
		        transform: translateZ(0);
		opacity: 1;
	}
	&:hover {
		-webkit-transform: scale(1.02);
		        transform: scale(1.02);
	}

}

.monthly-header {
    position: absolute;
    top: -22px;
    width: 50%;
    text-align:center;
    left: 50%;
    transform: translateX(-50%);
    background: $white;
    @include mobile-break{
      width: 75%;
    }
    @include mobile{
      width: 100%;
      text-align: center;
      left: 0;
      right: 0;
      transform: none;
    }
}

.monthly-reset{
  font-size: 20px;
  padding: 5px;
  position: absolute;
  bottom: 14px;
  left: 50%;
  transform: translate(-50%);
  background:white;
  border: none !important;
  display: none !important;
  &:hover{
    //background: #4275aa !important;
    background: #00BDE5 !important;
    &:after, &:before{
      color: white;
    }

  }
  &:after, &:before{
    //color: #4275aa;
    color: #00BDE5;
  }

}
.monthly-header-title {
  height: auto;
  font-size:50px;
//   padding: 70px 0px;
  position: relative;
   font-size: 10px;
  text-transform: uppercase;
	/*&:after {
		display: block;
		content: '';
		position: absolute;
		height: 1px;
		background-color: #4275aa;
		top: 0;
		bottom: 0;
		margin: auto;
		left: 0px;
		right: 0px;
		z-index: 0;
  }*/

//   &:before {
// 		content: '';
// 		display: block;
// 		position: absolute;
// 		top: 0;
// 		bottom: 0;
//         //background-color: #4275aa;
//         background-color: #00BDE5;
// 		left: -2000px;
// 		right: -2000px;
// 	}
}
a.monthly-header-title-date {
    z-index: 0;
    width: auto;
    line-height: 1.17 !important;
    border-radius: 0 !important;
    background-color: transparent !important;
    border: 0 !important;
    color: $blue !important;
    // font-size: 38px;
    // line-height: 47px;
    text-transform: uppercase;

    @extend .freight-text;
    @extend .font-medium-include;
    position: relative;
    @include mobile-break{
      font-size: 25px;
      padding-top: 5px !important;  
    }
    @include mobile{
      font-size: 20px;
    }


	.year-wrap {
		display: none;
	}
}
.monthly-header-title a:link, .monthly-header-title a:visited {
    display: inline-block;
    border: 1px solid #ccc;
    color: #545454;
    text-decoration: none;
    height: 1.75em;
    line-height: 1.65em;
    padding: 0 0.65em 0 0.65em;
    box-sizing: border-box;
    transition: background .1s;
}
.social-logo{
  width: 30px;
}
.no-hover{
  &:after{
    background-color: transparent !important;
  }
}
//previous & next button
.monthly-prev:after, .monthly-next:after {
   
	position: absolute;
	content: '';
  display: block;

	background-image: url('../images/right-arrow.svg');
	background-position: center;
	background-size: 100%;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
	border: 0;
	top: 12%;

  // transform: translateY(-50%);
    
}

.monthly-prev:after {
  transform: scaleX(-1);

}


.monthly-prev, .monthly-next {
	@include fade(all, 0.2s);
	opacity: 1;
  width: 80px;
  position: absolute;
  top: 0;
  width: 30px;
  background: white;
  height: 100%;
  // display: none;
	&:hover {
		opacity: 0.4;
	}
}
.monthly-prev {
  left: 10%;
  @include desktop{
    left: 0;
  }
}
.monthly-next {
  right: 10%;
  @include desktop{
    right: 0;
  }
}
.monthly{
//   color: #4275aa;
//   background: #F3F3F5;
  color: #545454;

  user-select: none;
  position: relative;
}
//day headings above calendar
.monthly-day-title-wrap {
    margin-top: 20px;
	padding-top: 7.5rem;
    // padding-bottom: 0.5rem;
    padding-bottom: 2rem;
    border-bottom: 0;
    display: table;
    table-layout: fixed;
    width: 100%;
    background: #fff;
    div{
        color: $blue;
        width: 14.28% !important;
        display: table-cell;
        box-sizing: border-box;
        position: relative;
        text-align: center;
        text-transform: uppercase;
    }
    @include mobile-break{
      padding-top: 2rem;
    }
}
.monthly-day, .monthly-day-blank{
    width: 14.28% !important;
    display: table-cell;
    vertical-align: top;
    box-sizing: border-box;
    position: relative;
    color: inherit;
    // background: #fff;
    // box-shadow: 0 0 0 1px #EBEBEB;
    -webkit-transition: .25s;
    transition: .25s;
    padding: 0;
    text-decoration: none;
}
.monthly-day{
    &:before{
        // padding-top: calc(100% - 1.2em);
        content: '';
        display: block;
        padding-top: 75%;
        float: left;
    }
}
.monthly-day-event>.monthly-day-number {
    position: absolute;
    line-height: 1em;
    top: 0.2em;
    left: 50%;
    transform: translateX(-50%);
}
.day-name{
    display: none;
}
@media (min-width: 1px){
    .monthly-day-event>.monthly-indicator-wrap {
        width: auto;
        max-width: none;
    }
    .monthly-indicator-wrap{
        padding: 0;
    }
}
.monthly-indicator-wrap {
    position: relative;
    text-align: center;
    line-height: 0;
    max-width: 1.5em;
    margin: 0 auto;
    padding-top: 2rem;
    @include mobile-break{
      padding-top: 1rem;
    }
}

//??
.monthly-day-wrap {
    width: 100%;
    font-size: .9em;
    border-collapse: collapse;
    margin: 0 0 .4em;
    display: table;
}
.monthly-day-event{
  padding-top: 1.6rem;
  font-size: 16px;
}
.monthly-day-number {
  color: $black;
  //color: #00BDE5;
}
.last-gallery-overlay{
  position: absolute;
  left: 0;
  top:0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: table;
  text-align: center;
  ///background-color:#333;
  h1{
    display: table-cell;
    width: 100%;
    height: 40px;
    vertical-align: middle;
   // color: #fff;
  }
}
.grey-overlay{
  background-color:#333; 
  top: 0;
  bottom: 0;
  left:0;
  right:0;
  position:absolute;
  opacity: 0.7;
}
//the pop up when clicking on the date
.monthly-event-list {
  position: fixed;

  left: 25%;
  top: 10%;
  transform: translate(-50%,-50%);

  z-index: 999;

  background-color: #F2F5FA;
  background: rgba(233,235,236,0.9);
  overflow: auto;
  position: absolute;

  width: 50%;
  height: 50%;
  display: none;
  transition: .25s;
}
.monthly-week{
    display: table-row;
    width: 100%;
}
.monthly-event-list-date{
  top: 0.9em;
}
//close button
.monthly-cal {
  background-color: $blue;
  color: white !important;
  position: fixed;
  z-index: 10000;
  border-right: 1px solid #ccc !important;
  border-radius: 0 !important;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  &:before{
    content: 'Close';
    margin-right: 0.25em;
  }
  @include mobile{
    top: 41%;
  }
}
.privacy-policy figure{
  height: 100px;
  display:inline-block;
  width: 100px;
}
#mapkit-combe, #mapkit-guinea, #mapkit-bryanston, #mapkit-all {
  height: 800px;
  width: 100%;
}
.contact-modal{
  &:hover{
    cursor:pointer;
  }
}
.hyper-link {
  color: $blue;
  &:hover{
    text-decoration: none;
    color: white;
  }
}
.uk-table td{
  width:25%;
  // white-space:pre;
}
.mobile-navigation-block{
  display:none;
}


.monthly-list-item{
  position: relative;
  padding: 0.5em 0.7em 0.25em 4em;
  display: none;
  border-top: 1px solid #D6D6D6;
  text-align: left;
  min-height: 50px;
  &:after{
    padding: 0.4em 1em;
    display: block;
    // content: 'No Events';
    margin-bottom: 0.5em;
  }
  a{
    background: none !important;
    div:last-of-type{
      margin-bottom: 20px;
    }
  }
}

.monthly-event-list-date{
  width: 4em;
  position: absolute;
  left: 0;
  top: 1.2em;
  text-align: center;
  font-weight: bold;
  line-height: 1.2em;
}