.full-width-div{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.half-width-div-form{
    width: 45%;
    display: inline-block;
}
.half-wid-pad{
    padding-right: 5%;
}
.checkboxRow{
    input[type="checkbox"]{
        width: 12.5px;
        height: 12.5px;
        background-color: white;
        border-radius: 50%;
        vertical-align: middle;
        border: 1.25px solid $blue;
        -webkit-appearance: none;
        outline: none;
        cursor: pointer;
        &:checked{
            background-color: $blue;
        }
        
    }
    @include mobile-break{
        .col.col--1-of-4{
            width: 50%;
            display: inline-block;
        } 
    }
    @include mobile{
        .col.col--1-of-4{
            width: 100%; 
            display: block;
        }
    }
}

.js-contact-form{
    input:not([type="submit"]:not([type="checkbox"])) {
        border: none;
        border-bottom: 1.5px solid $blue;
    }
    textarea{
        border: none;
        border-bottom: 1.5px solid $blue;
        min-height: 100px;
        width: 100%;
    }
 
}