footer{
    p,a {
        line-height: 22px;
    }
    .p-remove-margin{
        p{
            
            margin-bottom: 0px !important;
        }
    }
    .u-max-m{
        .u-flex__align-center{
            align-items: baseline;
        }
      
    }
    @include mobile-break{
        .col.col--1-of-8{
            display: none;
        }
        .col.col--2-of-8, .col--1-of-3{
            width: 50%; 
            display: inline-block;
        }
        .footer-spinner{
            display: none !important;
        }
        .u-text-right{
            text-align: left !important;
        }
    }
    @include mobile{
        .row, .col--1-of-3{
            padding-left: 50px !important;
        }
    }
}
.footer-spinner{
    .outer-spinner{
        max-width: 180px;
    }
}
.heavy-top-border{
    border-top: 3px solid $black;
}
.heavy-bottom-border{
    border-bottom: 3px solid $black;
}
.footer-link-width{
    width: 60%;
    margin: 0 auto;
    a{
        &:hover{
            transform: scale(1.1);
            color: $light-blue;
        }
    }
    @media (max-width: 500px){
        width: calc(100% - 40px);
    }
}
.social-links{
    img{
        height: 40px;
        
    }
    a{
        padding-right: 10px;
    }
    a:last-of-type{
        padding-right: 0px;
    }
}
.footer-bottom{
    @media (max-width: 1200px){
        padding: 0px 40px;
    }
    @include mobile-break{
        padding: 0px 30px;
    }
    @media (max-width: 500px){
        // display: block;
        text-align: left;
        .social-links, p {
            margin-bottom: 20px;
        }
        p:first-of-type{
            display: none;
        }
    }
    
}