.left-gallery{
    position: relative;
    width: 32%;
    @include mobile-break{
        width: 50%;
    }
    .image-cont{
        padding-bottom: 350px;
        @include mobile-break{
            padding-bottom: 200px;
            background-size: cover;
            background-position: center;
            width: 100%;

        }
    }
    .image-cont{  
        border-bottom: 3px solid $white;
    }
}
.right-gallery{
    position: relative;
    width: 68%;
    @include mobile-break{
  
        width: 50%;
        position: relative;
        display: inline-block;
        padding-bottom: 0px;
        
    }
    .image-cont-full{
        height: calc(100% - 3px);
        border-left: 3px solid $white;
        border-bottom: 3px solid $white; 
        
        @include mobile-break{
            height: 99%;
            background-size: cover;
            background-position: center;
            width: 100%;
            position: absolute;
        }
    }  
    
}
.border-top-bottom{
    border-top: 3px solid $white;
    border-bottom: 3px solid $white;
}
.border-top{
    border-top: 3px solid $white;
}
.reduced-border-top{
    border-top: 1px solid $white;
    border-bottom: 1px solid $white;
}
.half-gallery{
    width: 50%;
    .image-cont{
        background-size: cover;
        border-bottom: 1px solid $white;
    }

    .image-cont{
        padding-bottom: 300px;
    }
    
    .image-cont-full{
        background-size: cover;
        height: calc(100% - 1px);
        border-bottom: 1px solid $white;
    }
    @include mobile-break{
        .image-cont{
            background-position: left center;
            padding-bottom: 200px;   
        }
        width: 100%;
        
    }
}