.header-container{
    height: 800px;
    max-height: 75vh;
}
.reduce-header-size{
    height: 600px;
    max-height: 75vh;
}
.header-nav{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50px;
    z-index: 10;
;
    // background: green;
    .u-flex{
        height: 100%;
        a:nth-of-type(1), a:nth-of-type(2){
            height: 20%;
        }
        a:nth-of-type(3), a:nth-of-type(4){
            height: 30%;
        }
        a{
            // height: 25%;
            position: relative;
            .header-nav-text{
                width: 100%;
                bottom: 6%;
                position: absolute;
                left: 0;
                transform: rotate(-90deg);
                @include mobile-break{
                    bottom: 15%;
                }
            }
            
        }
    }
}

.js-menu-btn{
    width: 80%;
}
.blue-stripe-bg{
    background: $lightest-blue;
    background-image: url('../images/vertical-stripe-bg-blue.svg');
    background-size: cover;
}