.u-logo { 
    position: absolute;
    top: 40px;
    left: 40px;
    height: 70px;
    z-index: 11;
    @include mobile-break{
        left: 30px;
    }
    @include mobile{
        left: 20px;
    }
}
.u-small-svg{
    height: 40px;
    margin: 0 auto;
}
