.imageLinkTextPositioning{
    margin-left: 10.5%;
    max-width: 80%;
    padding-top: 275px;
    @media (max-width: 1450px){
        margin-left: 13%;

    }
    @media (max-width: 1400px){
        margin-left: 11.5%;
    }
    @media (max-width: 1350px){
        margin-left: 10%;
    }
    @media (max-width: 1300px){
        margin-left: 9%;
    }
    @media (max-width: 1250px){
        margin-left: 9%;
    }
    @include mobile-break{
        margin: 0;
        max-width: 100%;
        padding: 40px 30px;
        padding-top: 50px;
        .call-light-blue{
            padding-bottom: 0px;
        }
    }
}
.imageLinkTextPositionOutside{
    height: 800px;
    max-height:55vh;
    position: relative;
    @include mobile-break{
        height: auto;
    }
    .imageLinkTextPositionInside{
        position: absolute;
        top: 50%;
        /* left: 50%; */
        transform: translateY(-50%);
        left: 125px;
    }
    @include mobile-break{
        min-height: auto;
        .imageLinkTextPositionInside{
            position: relative;
            transform: none;
            top: auto;
            left: auto;
            padding: 30px;
        }

    }
}
.imageLinkTextPositionOutsideRight{
    .imageLinkTextPositionInside{

        left: 50px;
        right: 125px;
    }
}
.footerImageLinkTextPositioning{
    width: 87%;
}
.image-link-image{
    height: 800px;
    max-height: 55vh;
}
