.learn-achieve-img-cont {
    // max-width: 1400px;
    margin: auto;
    overflow: hidden;
    height: 85px;
    // margin: 0 -70px;
    background-size: 2170px;
    background: url("../images/learn-achieve-motivate.png");
    --x: 0px;
    --y: 0px;
    background-position: var(--x) var(--y);
    background-repeat: no-repeat !important;
    @include mobile-break{
        display: none;
    }
}
.learn-achieve-img-cont-mobile {
    display: none;
    margin: auto;
    overflow: hidden;
    height: 60px;
    margin: 25px -70px 25px -70px;
    background-size: cover;
    background: url("../images/learn-achieve-motivate.png");
    background-position: top;
    background-size: 225%;
    background-repeat: repeat-x;
    @include mobile-break {
        display: block;
    }
}