.fadeInKeyFrame{
    opacity: 0;
    
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-play-state: running;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-direction: normal;


}
.textSingleLineFadeIn, .textSingleLineFadeInFirst{
    opacity: 0;
}

// *** Transition Swiper *** //

.js-swipe-in-block-left {

    height:100%;
    position: relative;
    & > .swipe, & > .swipe2 {
        //setting it to the left so that when its scaled the colour comes out from the left. The 50% is the Y axis
       
        background: $white;
        position: absolute;
        top: 0;
        height: 100%;
        left: 0;
        width: 100%;
        z-index: 10;
    }
    & > .swipe {
        z-index: 3;
    }
    & > .swipe2 {
        z-index: 2;
        opacity: 0.7;
        background: $black;
    }
}
.transformScale{
    // transform-origin: right 50% 0px;
    animation-name: translate3d;
    animation-duration: 2s;
    animation-play-state: running;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-direction: normal;
    animation-delay: 1s;
    transform-origin: left 50% 0px;
    transition: all 500ms cubic-bezier(0.815, 0.000, 0.395, 1.085); /* custom */
}  
.transforReverse{
    // transform-origin: right 50% 0px;
    animation-name: translate3d;
    animation-duration:2s;
    animation-play-state: running;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    //animation-timing-function: ease;
    animation-direction: normal;
    animation-delay: 1s;
    transform-origin: right 50% 0px;
    transition: all 500ms cubic-bezier(.09,1.02,1,-0.55); /* custom */
}  
@keyframes translate3d{ 
    100%{
        transform: translate3d(0px, 0px, 0px) scale(0, 1);
    }
}