


#mobile-menu-content{
    z-index: 2000;
}
.st-content {
	overflow-y: scroll;
	background: #f3efe0;
}



.st-pusher {
	position: relative;
	left: 0;
	z-index: 99;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.st-pusher::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	background: rgba(0,0,0,0.2);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.st-menu-open .st-pusher::after {
	width: 100%;
	height: 100%;
	opacity: 1;
	transition: opacity 0.5s;
}

.st-menu {
	position: absolute;
	top: 0;
    right: 0;
    left: auto; 
	z-index: 100;
	visibility: hidden;
	width: 300px;
	height: 100%;
	background: $blue;
	transition: all 0.5s;
	transition-timing-function: cubic-bezier(1,.17,.15,.48);
}



/* content style */

.st-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	z-index: 3000;
}

.st-menu h2 {
	margin: 0;
	padding: 1em;
	color: rgba(0,0,0,0.4);
	text-shadow: 0 0 1px rgba(0,0,0,0.1);
	font-weight: 300;
	font-size: 2em;
}

.st-menu ul li a {
	display: block;
	padding: 20px;
	outline: none;
	box-shadow: inset 0 -1px rgba(0,0,0,0.2);
	color: $white;
	text-transform: uppercase;
	text-shadow: 0 0 1px rgba(255,255,255,0.1);
	

	-webkit-transition: background 0.3s, box-shadow 0.3s;
	transition: background 0.3s, box-shadow 0.3s;
}

.st-menu ul li:first-child a {
	box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
}

.st-menu ul li a:hover {
	background: rgba(0,0,0,0.2);
	box-shadow: inset 0 -1px rgba(0,0,0,0);
	color: #fff;
}

/* Effect 1: Slide in on top */
.st-effect-1.st-menu {
	visibility: hidden;
	-webkit-transform: translateX(-100%);
	transform: translateX(100%);

}

.st-effect-1.st-menu-open .st-effect-1.st-menu {
	visibility: visible;
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

.st-effect-1.st-menu::after {
	display: none;
}


/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
.no-csstransforms3d .st-pusher,
.no-js .st-pusher {
	padding-left: 300px;
}



.js-menu-close-pusher{
	position:relative;
	&:after{
		z-index: 100;
	    content: '\A';
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba(0,0,0,0.6);
		opacity: 0.3;
	
		
	}
	.callToAction::before{
		background-color: transparent;
	}
	.u-flex.u-flex__space.u-flex-column.white-text{
		// a{
		// 	border: 1px solid $white;
		// 	border-right: none;
		// 	border-left: 1px solid $white;
		// 	border-bottom: none;
		// }
		a:last-of-type{
			box-shadow:         inset 0 0 2px #ffffff;

		}
	}
}

.top-area{
	position: relative;
	padding-top: 160px;
	.close-btn{
		position: absolute;
		width: 50px;
		top: 80px;
		right: 0;
	}
	.mobile-menu-spinner{
	    position: absolute;
		width: calc(100% - 100px);
		top: 50%;
		// padding-left: 25px;
		transform: translateY(-50%);
		.outer-spinner{
			max-width: auto;
			max-height: 120px;
		}
		@include mobile-break{
			.outer-spinner{
				display: block !important;
				margin-bottom: 50px !important;
				margin-top: 50px !important;
			}
		}
	}
}