nav {
    position: fixed;
    top: 0;
    z-index: 10;
    left: 0;
    right: 0;
    //min-height: 100px;
    background: $white;
}
.fixedNavRelative{
    position: relative;
    width: 100%;
    min-height: 100px;
    height: 100%;
}
.hamburgerWrapper{ 
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border: 1px solid $white;
    border-radius: 50%;
    .hamburger{
        width: 12.5px;
        height: 1px;
        background: transparent;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        
        &:before, &:after{
            content: '';
            position: absolute;
            width: 12.5px;
            height: 1px;
            background: $white;
        }
        &:after{
            top: 4px;
            transform: rotate(45deg);
        }
        &:before{
            top: -4px;
            transform: rotate(-45deg);
        }
    }
}
.hamburgerWrapperMobileMenu {
    .hamburger{
        background: transparent;
        &:before{
            transform: rotate(45deg);
        }
        &:after{
            transform: rotate(-45deg);
        }
    }
}