.dp-wrap {
    margin: 0 auto;
    position: relative;
    perspective: 1000px;
    height: 100%;
    @include mobile-break{
        height: auto;
        width: 95%;
        margin: 0 auto;
    }
}
.dp-slider, .dp-sliderksone, .dp-sliderkstwo {
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
}
.dp-slider div, .dp-sliderksone div, .dp-sliderkstwo div {
    transform-style: preserve-3d;
}
.dp-number{
    position: absolute;
    top: -60px;
    right: 0px;
    @include mobile{
        display: none;
    }
}
.dp_item {
    display: block;
    position: absolute;
    text-align: left;
    transition: transform 1.2s;
}
.dp-img img {
    border-left: 1px solid #fff;
}
#dp-slider .dp_item:first-child, #dp-sliderksone .dp_itemksone:first-child, #dp-sliderkstwo .dp_itemkstwo:first-child {
    z-index: 10 !important;
    transform: rotateY(0deg) translateX(0px) !important;
}
.dp_item[data-position="2"] {
    z-index: 9;
    transform: rotateY(0deg) translateX(35%) scale(1);
}
.dp_item[data-position="3"] {
    z-index: 8;
    transform: rotateY(0deg) translateX(64%) scale(1);
}
.dp_item[data-position="4"] {
    z-index: 7;
    transform: rotateY(0deg) translateX(100%) scale(1);
}
#dp-next,
#dp-prev, 
#dp-nextksone,
#dp-prevksone, 
#dp-nextkstwo,
#dp-prevkstwo{
    position: absolute;
    bottom: 28.5%;
    right: -15px;
    height: 33px;
    width: 33px;
    z-index: 10;
    cursor: pointer;

    @media (max-width: 1398px){
        right: 5px;
    }
    @include mobile-break{
        right: 20px ;
    }
}
#dp-prev, #dp-prevksone, #dp-prevkstwo {
    left: -15px;
    transform: rotate(180deg);
    @media (max-width: 1398px){
        left: 5px;
    }
    @include mobile-break{
        left: 20px;
    }
}
#dp-dots {
    position: absolute;
    bottom: -35px;
    z-index: 12;
    left: 45%;
    cursor: default;
}

#dp-dots li {
    display: inline-block;
    width: 13px;
    height: 13px;
    background: #ffff;
    border-radius: 50%;
    margin: 0 10px;
}
#dp-dots li:hover {
    cursor: pointer;
    background: red;
    transition: background .3s;
}
#dp-dots li.active {
    background:  red;
}
.dp_item {
    width: 43%;
    padding:45px;
    @media (max-width: 1350px){
        width: 40%;
    }
}
.s-heading{
    padding-top: 20px;
}
.dp-number{
    width:40px;
    font-size: 45px;
    margin-bottom: 0px !important;
}
.dp-paragraph{
    width: 85%;
    height: 125px;
    overflow-y: scroll;
    padding-bottom: 0px !important;

    @include mobile{
        width: 100%;
        height: 125px;
    }
}
.dp-content ,
.dp-img {
       text-align: left;
}
.dp_item {
    background: #fff;
    -webkit-box-shadow: 9px 0px 5px 0px rgba(225,225,225,0.4);
    -moz-box-shadow: 9px 0px 5px 0px rgba(225,225,225,0.4);
    box-shadow: 9px 0px 5px 0px rgba(225,225,225,0.4);
}
.dp-content {
    padding-right: 0;
    display: inline-block;
    width: 100%;
    position: relative;
}
.dp-content h2 {
    // font-size: 38px;
    // line-height: 47px;
    // margin-bottom: 25px;
    // padding-top: 30px;
    a{
        // font-size: 38px;
    }
    a:hover{
        color:red;
    }
}
#sliderksone, #dp-nextksone, #dp-prevksone, #sliderkstwo, #dp-nextkstwo, #dp-prevkstwo{
    display: none;
}
#slider, #sliderksone, #sliderkstwo{
    min-height: 800px;
    @include mobile-break{
        min-height: 450px;
    }
}
.dp-content .site-btn {
   margin-top: 15px;
   font-size: 13px;
   padding: 19px 40px;
}
.img-fluid{
    padding-bottom: 350px;
    background-size:cover;
    background-position: center;
    @include mobile-break{
        display: none;
    }
}
.dp-img{
    position: relative;
    display: inline-block;
    width:100%;
    .overlay{
        opacity: 0;
        @include fade(all, 0.5s);
    }

}
.dp-img:hover{
    .overlay{
        opacity: 0.4;
        @include fade(all, 0.5s);
    }
}
.dp-img img {
    object-fit: cover;
    object-position: right;
}
#dp-slider,
.dp-img img {
    height: 850px;
    @include mobile-break{
        max-height: 800px;
        height: auto;
    }
}
#dp-slider .dp_item:hover:not(:first-child) {
    cursor: pointer;
}
.site-btn {
  color: #fff;
  font-size: 18px;
//   font-family: "Circular Std Medium";
  background: #FA8282;
  padding: 14px 43px;
  display: inline-block;
  border-radius: 2px;
  position: relative;
  top: -12px;
  text-decoration: none;
}
.site-btn:hover{
  text-decoration: none;
  color: #fff;
}
@include mobile-break{
    .dp_item {
        width: auto;
        padding: 40px;
    }
    .dp_item[data-position="2"] {
        z-index: 9;
        transform: rotateY(0deg) translateX(0%) scale(1);
    }
    .dp_item[data-position="3"] {
        z-index: 8;
        transform: rotateY(0deg) translateX(0%) scale(1);
    }
    .dp_item[data-position="4"] {
        z-index: 7;
        transform: rotateY(0deg) translateX(0%) scale(1);
    }
}
.dark-grey-bg-div{
    background: #dcdcdc;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30%;
}
.card-stripe{
    width: 275px;
}


.single-class{
    background: white;
    margin-bottom: 100px;
    .single-class-desc{
        padding:20px;
        background: white;
        @include fade(all, 0.5s);
    }
}
.single-class a:hover{
    .single-class-desc{
        background: #134a62;
        @include fade(all, 0.5s);
        h3{
            @include fade(all, 0.5s);
            color:white;
        }
    }
}