.outerSpinnerText{
    animation: spin1 20s infinite linear;
    transform-origin: 50% 50%;
}
.outer-spinner{
    max-width: 275px;
    overflow: visible !important;
    margin: 0 auto;
    @include mobile-break{
        margin-top: 40px;
        display: none;
    }
}
@keyframes spin1{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg);}
}