.two-col-line{
    position: relative;
    padding-top: 20px;
    float: left;
    @include mobile-break{
        float: none;
        padding-top: 35px;  
    }
    &:before{
        content: "";
        position: absolute;
        top: 5px;
        left: 0;
        width: 70px;
        border-top: 4.5px solid $blue;        
        @include mobile-break{
            width:100%;
        }
    }
    &:after{
        content: '';
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background-color: $blue;
        display: block;
        float: right;
        margin-left: 30px;
        margin-top: -35px;
        @media (max-width: 950px){
            display: none;
        }
    }
}
.two-col-paragraph{
    padding-top: 60px;
    @media (max-width: 900px){
        padding-top: 20px;
    }
    @include mobile-break{
        padding-top: 10px;
    }
}