| {% extends '_layout' %}
| {% block content %}

| {% if entry.headerImage | length %}
| {% include '_includes/_header.html'%}
| {% endif %}

| {% if entry.defaultMatrix | length %}
| {% for pC in entry.defaultMatrix.all() %}

| {% if pC.type == 'oneColHeadingText' %}
| {% include '_includes/_text/_one-col-heading-text.html' %}
| {% endif %}

| {% if pC.type == 'header' %}
| {% include '_includes/_text/_header.html'%}
| {% endif %}

| {% if pC.type == 'oneColText' %}
| {% include '_includes/_text/_one-col-text.html'%}
| {% endif %}

| {% if pC.type == 'twoColText' %}
| {% include '_includes/_text/_two-col-text.html'%}
| {% endif %}

| {% if pC.type == 'threeColumnText' %}
| {% include '_includes/_text/_three-col-text.html'%}
| {% endif %}

| {% if pC.type == 'includeLearnAchiveMotivate' %}
| {% include '_includes/_text/_learn-achieve-motivate.html' %}
| {% endif %}

| {% if pC.type == 'showClasses' %}
| {% include '_includes/_show-classes.html' %}
| {% endif %}

| {% if pC.type == 'imageLinkBlock' %}
| {% include '_includes/_images/_image-link.html' %}
| {% endif %}

| {% if pC.type == 'gallery' %}
| {% include '_includes/_images/_gallery.html' %}
| {% endif %}

| {% if pC.type == 'downloads' %}
| {% include '_includes/_downloads.html' %}
| {% endif %}

| {% if pC.type == 'showCalendar' %}
| {% include '_includes/_calendar.html' %}
| {% endif %}

| {% if pC.type == 'includeContactForm' %}
| {% include '_includes/_contact-form.html' %}
| {% endif %}

| {% endfor %}
| {% endif %}
//- <script>
//- {% if entry.slug ==  'mandarinfish-class' %}
//- var calendarEvents = 'mandarinFishClass' 
//- {% endif %}
//- {% if entry.slug == 'moving-on-16-class' %}
//- var calendarEvents = 'sixteenPlusClass'
//- {% endif %}
//- {% if entry.slug == 'cutty-sark-class' %}
//- var calendarEvents = 'cuttySarkClass'
//- {% endif %}
//- {% if entry.slug == 'victory-class' %}
//- var calendarEvents = 'victoryClass'
//- {% endif %}
//- {% if entry.slug == 'mary-rose-class' %}
//- var calendarEvents = 'maryRoseClass'
//- {% endif %}
//- {% if entry.slug == 'ocean-zone-class' %}
//- var calendarEvents = 'oceanZoneClass'
//- {% endif %}
//- {% if entry.slug == 'lionfish' %}
//- var calendarEvents = 'lionfishClass'
//- {% endif %}
//- {% if entry.slug == 'clown-fish-class' %}
//- var calendarEvents = 'clownFishClass'
//- {% endif %}
//- {% if entry.slug == 'parrotfish-class' %}
//- var calendarEvents = 'parrotfishClass'
//- {% endif %}
//- {% if entry.slug == 'dolphin-class' %}
//- var calendarEvents = 'dolphinClass'
//- {% endif %}
//- {% if entry.slug == 'turtle-class' %}
//- var calendarEvents = 'turtleClass'
//- {% endif %}
//- </script>
| {% endblock %}
